@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem; */
    height: 100vh;
    background-image: linear-gradient(to bottom, #a855f7, #6366f1, #ec4899);
    /* background-image: linear-gradient(to right, #a855f7, #6366f1, #ec4899); */
    /* background-image: linear-gradient(to right, rgb(85, 137, 137), rgb(123, 0, 255)); */

    /* background-image: url(https://fastly.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus); */
    /* background-image: url(https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80); */
/* 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */

    /* border: 2px solid blue; */
}

#header > h1{
    color: bisque;
    text-align: center;
}

#profile-picture{
    max-width: 8%;
}

#intro{
    max-width: 33%;
    /* color: #000000; */
    color: azure;
    font-family: 'Ysabeau', sans-serif;
    font-size: larger;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50vh;
    width: 100%;
    /* flex-shrink: inherit; */
    /* flex-wrap: wrap; */
    /* animation: changetext infinite 3s 10s infinite ease ease-in; */
    /* border: 2px solid red; */
}

#header > p > a{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

#header > p > a:hover{
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
}

#link-container{
    /* border: 2px solid orange; */
    /* margin-top: 1rem; */
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 50vh;
    width: 100%;
}

#link-container ul{
    list-style: none;
}

.links{
    /* border: 2px solid blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem; 
    width: 50vh;
    /* color: #f5e2d4d9;    */
}

.link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: #f5e2d4d9;   
}

.links:hover{
    background-color: rgb(159, 66, 66);
    font-size: large;
    cursor: pointer;
}
