@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-image: url(https://fastly.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

    /* gap: 0.5rem; */
    /* height: 100vh; */
    /* border: 2px solid blue; */
}

#header>h1 {
    color: bisque;
    text-align: center;
}

#profile-picture {
    max-width: 8%;
}

#intro {
    max-width: 33%;
    color: azure;
    font-family: 'Ysabeau', sans-serif;
    font-size: larger;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50%;
    width: 100%;
}

#header>p>a {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

#header>p>a:hover {
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
}

#link-container {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

#link-container ul {
    list-style: none;
}

.links {
    /* border: 2px solid blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    width: 50vh;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: #f5e2d4d9;
}

.links:hover {
    background-color: rgb(159, 66, 66);
    font-size: large;
    cursor: pointer;
}
