@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(https://fastly.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* App Styling */
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.2rem;
    /* background-image: url(https://fastly.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  */

    /* background-image: linear-gradient(to bottom, #a855f7, #6366f1, #ec4899); */
    /* gap: 0.5rem; */
    /* height: 100vh; */
    /* border: 2px solid blue; */
}

/* Menu Button Styling */
#menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: fixed;
    left: 2rem;
    top: 1.28rem;
    cursor: pointer;
    border: 2px solid wheat;
    border-radius: 50%;
    padding: .2rem;
}

#cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
    cursor: pointer;
    border: 2px solid wheat;
    border-radius: 50%;
    padding: .4rem;
}

/* Navigation Sidebar Styling */
nav {
    /* background-color: rgb(230, 230, 230); */
    position: absolute;
    right: 100%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    top: 0;
    height: 100vh;
    width: 100%;
    transition: .5s;
    z-index: 1;
}

nav.open {
    right: 0;
}

nav ul li {
    list-style: none;
    margin: 2.5rem;
}

nav ul li a {
    /* color: rgb(14, 13, 13); */
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    color: bisque;
}

nav ul li a:hover {
    color: rgb(83, 83, 83);
}

nav ul li a:visited {
    color: bisque;
}

nav ul h1 {
    font-size: 2.5rem;
    margin: 2.5rem;
    font-weight: bold;
}

/* Header-Styling */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50%;
    width: 100%;
}

#header>h1 {
    color: bisque;
    text-align: center;
}

#profile-picture {
    max-width: 8%;
}

#intro {
    max-width: 33%;
    color: azure;
    font-family: 'Ysabeau', sans-serif;
    font-size: larger;
    text-align: center;
}

#header>p>a {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

#header>p>a:hover {
    color: rgb(255, 255, 255);
    font-size: large;
    cursor: pointer;
}

/* Link Container Styling */
#link-container {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

#link-container ul {
    list-style: none;
}

.links {
    /* border: 2px solid blanchedalmond; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    /* width: 50vh; */
    width: 100%;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    color: #f5e2d4d9;
}

.links:hover {
    background-color: rgb(159, 66, 66);
    /*     font-size: large; */
    cursor: pointer;
}
